$if(code)$
<h1>$status-msg$ - $code$</h1>
$else$
<h1>$status-msg$</h1>
$endif$

$if(body)$
<p>$body$</p>
$endif$

<pre class="no-style">
      |\      _,,,---,,_
ZZZzz /,`.-'`'    -.  ;-;;,_
     |,4-  ) )-,_. ,\ (  `'-'
    '---''(_/--'  `-'\_)
</pre>
