<li>
  <i class="icon-history"></i>
  <a href="https://gitlab.com/doshitan/doshitan.com/commits/master/content/$path$">
    <time datetime="$date-modified-machine$" class="dt-updated updated">$date-modified$</time>
  </a>
</li>
