<ul class="container post-list h-feed">
    <span class="p-name hidden">$title$</span>
    <span class="u-url hidden">
      $if(all-posts-url)$
        $all-posts-url$
      $else$
        $url$
      $endif$
    </span>
    $for(posts)$
      <li class="h-entry hentry">
        <a class="u-url" href="$url$">
          <h3 class="p-name title">$title$</h3>
          <p class="p-summary">$meta-description$</p>
        </a>

        <time datetime="$date-machine$" pubdate class="dt-published published meta">$date$</time>
      </li>
    $endfor$
</ul>
