<article class="h-entry hentry">
  <header>
    <span class="u-url url hidden">$url$</span>
    <h1 class="title p-name entry-title">$title$</h1>
    <ul class="list-inline list-inline-sep meta">
      $if(post)$
        $if(date)$
        <li>
          <time datetime="$date-machine$" pubdate class="dt-published published">$date$</time>
        </li>
        $endif$

        $if(read-time)$
        <li>
          <span class="read-time" title="$word-count$ words">~$read-time$ read</span>
        </li>
        $endif$
      $endif$
    </ul>
  </header>

  $partial("templates/toc.html")$

  <section class="e-content entry-content">
    $body$
  </section>

  <footer class="meta navbar navbar-sm-vert container">
    <ul class="list-inline list-inline-sep">
      $partial("templates/history-list-item.html")$

      $if(tags)$
      <li class="tags">$tags$</li>
      $endif$
    </ul>

    <a href="#" class="top-link">Top &#8593;</a>
  </footer>
</article>
