<header>
  <h1 class="title">$title$</h1>

  <div class="meta navbar navbar-sm-vert container">
    <ul class="list-inline list-inline-sep">
      $partial("templates/history-list-item.html")$
      <li><a href="$source-url$">Source</a></li>
      $for(extra-links)$
        <li><a href="$url$">$name$</a></li>
      $endfor$
    </ul>
  </div>
</header>

<!-- $partial("templates/toc.html")$ -->

<section>
  $body$
</section>

$if(posts)$
<section>
  <h2>Recent Posts for $title$</h2>

  $partial("templates/post-list.html")$

  <p>
  <a href="$all-posts-url$">All Posts for $title$ &raquo;</a>
  </p>
</section>
$endif$
