$if(toc)$
  $if(toc-margin)$
  <div class="toc-container-margin">
    <label for="toc-content"><h3>Contents</h3></label>
    <input type="checkbox" id="toc-content" class="margin-toggle">
    <nav class="toc marginnote">
      $toc-content$
    </nav>
  </div>
  $else$
  <div class="toc-container">
    <nav class="toc">
      <h3>Contents</h3>
      $toc-content$
    </nav>
  </div>
  $endif$
$endif$
