@font-face {
  font-family: "Andada Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/font/AndadaPro-Regular.subset.woff2) format("woff2"),
       url(/assets/font/AndadaPro-Regular.subset.woff) format("woff"),
       url(/assets/font/AndadaPro-Regular.subset.otf) format("opentype");
  unicode-range: U+0000-00A0,U+00A2-00A9,U+00AC-00AE,U+00B0-00B7,U+00B9-00BA,U+00BC-00BE,U+00D7,U+00F7,U+2000-206F,U+2074,U+20AC,U+2122,U+2190-21BB,U+2212,U+2215,U+F8FF,U+FEFF,U+FFFD,U+00C0-00FF,U+152-153,U+178,U+2190-21BB,U+25FC;
}
@font-face {
  font-family: "Andada Pro";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/font/AndadaPro-Italic.subset.woff2) format("woff2"),
       url(/assets/font/AndadaPro-Italic.subset.woff) format("woff"),
       url(/assets/font/AndadaPro-Italic.subset.otf) format("opentype");
  unicode-range: U+0000-00A0,U+00A2-00A9,U+00AC-00AE,U+00B0-00B7,U+00B9-00BA,U+00BC-00BE,U+00D7,U+00F7,U+2000-206F,U+2074,U+20AC,U+2122,U+2190-21BB,U+2212,U+2215,U+F8FF,U+FEFF,U+FFFD,U+00C0-00FF,U+152-153,U+178,U+2190-21BB,U+25FC;
}
@font-face {
  font-family: "Andada Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/font/AndadaPro-Bold.subset.woff2) format("woff2"),
       url(/assets/font/AndadaPro-Bold.subset.woff) format("woff"),
       url(/assets/font/AndadaPro-Bold.subset.otf) format("opentype");
  unicode-range: U+0000-00A0,U+00A2-00A9,U+00AC-00AE,U+00B0-00B7,U+00B9-00BA,U+00BC-00BE,U+00D7,U+00F7,U+2000-206F,U+2074,U+20AC,U+2122,U+2190-21BB,U+2212,U+2215,U+F8FF,U+FEFF,U+FFFD,U+00C0-00FF,U+152-153,U+178,U+2190-21BB,U+25FC;
}
