@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/font/FiraMono-Regular.subset.woff2) format("woff2"),
       url(/assets/font/FiraMono-Regular.subset.woff) format("woff"),
       url(/assets/font/FiraMono-Regular.subset.otf) format("opentype");
  unicode-range: U+0020-007E,U+2500-257F;
}
@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/font/FiraMono-Bold.subset.woff2) format("woff2"),
       url(/assets/font/FiraMono-Bold.subset.woff) format("woff"),
       url(/assets/font/FiraMono-Bold.subset.otf) format("opentype");
  unicode-range: U+0020-007E,U+2500-257F;
}
