
.icon-search:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */