---
title: Tanner Doshier
meta-description: The personal site of Tanner Doshier (doshitan), a GNU/Linux, GNOME, and free software enthusiast. Chronicled here are my software development exploits, among other things.
published: 2013-05-21T13:37:05-05:00
modified: 2021-03-11T00:19:16-05:00
---

<div class="container">
<div class="row">
    <div class="column">
        <h2>General</h2>
        <ul>
            <li><a href="/about/">About Me</a></li>
            <li><a href="/vegan/">Veganism</a></li>
            <li><a href="/uses-this/">Uses This</a></li>
        </ul>
    </div>

    <div class="column">
        <h2>Software Dev</h2>
        <ul>
            <li><a href="/dev/">General Stuff</a></li>
            <li><a href="/code-review/">Code Review</a></li>
            <li><a href="/git/">Git</a></li>
            <li><a href="/make/">Make</a></li>
            <li><a href="/shell/">Shell (Bash/Zsh)</a></li>
            <li><a href="/nix/">Nix</a></li>
        </ul>
    </div>

    <div class="column">
         <h2>Misc.</h2>
         <ul>
            <li><a href="/dotfile-management/">Dotfile Management</a></li>
            <li><a href="/site-privacy/">Site Privacy Policy</a></li>
            <li><a class="u-key" rel="pgpkey" type="application/pgp-keys" href="/9963DB09FD2A2622CC46FF0320160260F4C18825.txt">GPG Key</a></li>
         </ul>
    </div>
</div>
</div>

<h2>Latest Posts</h2>

$partial("templates/post-list.html")$

<p>
<a href="/log/">All Posts &raquo;</a>
</p>
